<section class="title"></section>

<section class="bg-gray py-5">
  <div class="container">
    <div class="row">
    <div class="col-4 my-2" *ngFor="let mascota of mascotas; let i = index">
      <mat-card class="card">
        <mat-card-header>
          <!-- <div mat-card-avatar id="avatar {{i}}" style="background-image: url('{{ mascota.imagenes[0].ruta_s3 }}');   background-size: cover;"></div> -->
          <mat-card-title>{{ mascota.nombre }}</mat-card-title>
          <mat-card-subtitle>Example subtitle</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ mascota.imagenes[0]['ruta_s3']}}" alt="mascota_img">
        <mat-card-content>
         <p>{{ mascota.descripcion }}</p>
         <button class="btn btn-primary btn-sm">Adoptar</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  </div>
</section>