 <section class="title"></section>

 <section>
   <div class="container">
     <mat-card class="card mx-auto my-5">
       <mat-card-header>
         <mat-card-title>Iniciar Sesíon</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="userForm" class="formPet">
            <mat-form-field appearance="standard">
              <mat-label>Correo</mat-label>
              <input matInput formControlName="userName"/>
            </mat-form-field>
            <br />
            <mat-form-field appearance="standard">
              <mat-label>Contraseña</mat-label>
              <input matInput formControlName="password"/>
            </mat-form-field>
            <button class="btn btn-primary btn-sm" (click)="signIn()">Iniciar Sesíon</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </section>