
<header [class]="type">
  <nav class="navbar header-nav navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <h6 class="d-inline text-uppercase">Sistema de adopcion</h6>
    </a>

    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
    <i></i></button> -->
    <div class="collapse navbar-collapse justify-content-end" id="navbar">
      <ul class="navbar-nav ml-auto align-items-center">
        <li><a class="nav-link">Inicio</a></li>
        <li><a class="nav-link">Publicar una mascota</a></li>
        <li><a class="nav-link">Adoptar una mascota</a></li>
      </ul>
    </div>
  </div>
</nav>
</header>