<section class="title"></section>

<section class="bg-gray py-5">
  <div class="container">
    <div class="row">
      <div class="col-4" *ngFor="let pet of pets">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>{{pet.name}}</mat-card-title>
            <mat-card-subtitle> <b>Tipo de Animal</b> {{pet.type}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="pet.urlImg" />
          <mat-card-content>
            <p><b>Edad</b> {{ pet.age }}</p>
            <p><b>Descripcion</b> {{ pet.description }}</p>
            <button class="btn btn-outline-primary">Adoptar</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
