
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import "~bootstrap/scss/bootstrap";

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sistema-adopcion-primary: mat-palette($mat-indigo);
$sistema-adopcion-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sistema-adopcion-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$sistema-adopcion-theme: mat-light-theme($sistema-adopcion-primary, $sistema-adopcion-accent, $sistema-adopcion-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($sistema-adopcion-theme);

/* You can add global styles to this file, and also import other style files */

@media (min-width: 1200px) {
  .container {
      max-width: 1280px;
  }
}


html, body { height: 100%; }
body { 
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-image: url('https://s3.amazonaws.com/sistema.adopcion/face-white-cat-eyes-space-minimalism-dog-grey-hair-Jack-Flash-pet-empty-triptych-negative-long-animal-two-removedfromstrobistpool-d7000-cats-kitten-small-minimal-three-fluffy-sigma-mammal-russell-stripe-minimalist-.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
 }

.title {
  padding: 85px 0 65px;
}

.mat-form-field {
  display: block !important;
}

.mat-dialog-imagenes {
 .mat-dialog-container {
   padding: 0px !important;
  }
}